{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-4">
        <h1>Registrar Sucursal</h1>
        <form action="/registrarSucursal/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" id="txtSucursal" name="txtSucursal" class="form-control" placeholder="ID Sucursal" maxlength="6" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtUbi" name="txtUbi" class="form-control" placeholder="Ubicacion" maxlength="100" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Telefono" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtHorarios" name="txtHorarios" class="form-control" placeholder="Correo Electronico" maxlength="100" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtGerente" name="txtGerente" class="form-control" placeholder="Gerente" required>
            </div>
            <div class="form-group">
                <input type="text" id="txtAdmin" name="txtAdmin" class="form-control" placeholder="Administracion" maxlength="100" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>

    <div class="col-md-8">
        <h1>Listado de Sucursales</h1>
        <img class="rounded mx-auto d-block" src="{% static "img/TABAQUERIA.jpg" %}" alt="" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id_Sucursal</th>
                    <th>Ubicacion</th>
                    <th>Telefono</th>
                    <th>Nombre</th>
                    <th>Horarios</th>
                    <th>Gerente</th>
                    <th>Administracion</th>
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in sucursales %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p.Id_Sucursal }}</td>
                    <td>{{ p.Ubicacion }}</td>
                    <td>{{ p.Telefono }}</td>
                    <td>{{ p.Nombre }}</td>
                    <td>{{ p.Horarios }}</td>
                    <td>{{ p.Gerente }}</td>
                    <td>{{ p.Administracion }}</td>
                    <td><a href="seleccionarSucursal/{{ p.Id_Sucursal }}" class="btn btn-info">Editar</a></td>
                    <td><a href="borrarSucursal/{{ p.Id_Sucursal }}" class="btn btn-danger">Borrar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
